.about-us{
    font-family: 'Comfortaa';
    .about-box{
        background-color: white;
        color: #111;
        padding: 0 3%;
        .box{
            padding: 10% 0;
            .text{
                .header{
                    border-left: 2px solid #ffb606;
                    font-size: 28px;
                    text-transform: uppercase;
                    padding-left: 5%;
                    color: #333;
                }
                p{
                    margin-bottom: 5%;
                    // font-size: 16px;
                }
            }
        }
    }
}