.PN-univesity{
    font-family: 'Comfortaa';
    .header-box{
        background-color: white;
        .logo{
            margin: 10% 0 10% 5%;
            img{
                width: 100%;
            }
        }
        .count{
            padding-top: 5%;
            .head{
                i{
                    color: #ffb605;
                    font-size: 22px;
                    line-height: 22px;
                    vertical-align: middle;
                }
                p{
                    display: inline;
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 400;
                }
            }
            .list{
                border-top: 2px solid $clr_yellow;
                border-bottom: 2px solid $clr_yellow;
                margin: 0;
                padding-top: 1.5%;
                .percentage{
                    text-align: center;
                    width: 30%;
                    padding: 1% 0;
                    margin: 4% 0;
                    p{
                        font-size: 30px;
                        font-weight: 700;
                        margin-bottom: 0%;
                    }
                    span{
                        text-transform: uppercase;
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
                .percentage.brd{
                    border-left: 1px solid #e5e5e5;
                    border-right: 1px solid #e5e5e5;
                }
            }
            
        }
    }
    .content-box{
        background-color: white;
        .content{
            .image{
               box-shadow:  $bg_show_responsive;
                img{
                    width: 100%;
                }
            }
            .text{
                padding: 10%;
                text-align: center;
                // margin-top: 5%;
            }
        }
    }
    .table-content{
        background-color: white;
        .recent-table{
            width: 100%;
            th,td{
                font-size: 13px;
                padding: 7px 10px;
                border: 1px solid #c6c6c6;
                text-transform: uppercase;
                
            }
            .first-col{
                width: 45%;
            }
            .table-head{

                .table-row{
                    th{
                        color: #333;
                        font-weight: 600;
                        border-bottom-width: 2px;
                        font-size: 14px;
                    }
                }
                .table-row.bg{
                    th{
                        transition: 0.3s ease-in;
                        padding: 2% 1%;
                        &:hover{
                            background-color: #e8e8e8;
                        }
                    }
                    
                }
            }
            .table-body{
                .table-row{
                    transition: 0.3s ease-in;
                    td{
                        font-size: 13px;
                    }
                    &:hover{
                        background-color: #e8e8e8;
                    }
                }
                .odd{
                    background-color: #f5f5f5;
                    
                }
            }
        }
    }
    .checkbox-content{
        background-color: white;
        .input{
            p{
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 0.5rem;
            }
            input{
                width: 100%;
                font-size: 14px;
                border: none;
                border-bottom: 1px solid #c6c6c6;
                &:focus{
                    outline: none;
                }
            }
            .checkbox{
                input[type=checkbox]{
                    width: 20px;
                    height: 20px;
                }
                label{
                    vertical-align: top;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
}